


.h-nav-behavior-loaded > .my-ani
/* ,.h-nav-behavior-switchtab > .my-ani,
// .h-nav-behavior-relaunch > .my-ani,
// .h-nav-behavior-forward > .my-ani,
//  */
{
  animation-duration: 1.2s;
}

.h-nav-behavior-push > .my-ani,
.h-nav-behavior-back > .my-ani,
.h-nav-behavior-replace{
  animation-duration: .5s;
}


.h-nav-behavior-loaded > .bounceIn > .h-nav-page-enter-active{
  animation-name: bounceIn;
}

.h-nav-behavior-push > .rotateInDownRight > .h-nav-page-enter-active{
  animation-name: rotateInDownRight;
}
.h-nav-behavior-push > .rotateOutDownRight > .h-nav-page-leave-active{
  animation-name: rotateOutDownRight;
}
.h-nav-behavior-back > .rotateInDownLeft > .h-nav-page-enter-active{
  animation-name: rotateInDownLeft;
}
.h-nav-behavior-back > .rotateOutDownLeft > .h-nav-page-leave-active{
  animation-name: rotateOutDownLeft;
}
.h-nav-behavior-replace > .rotateInUpLeft > .h-nav-page-enter-active{
  animation-name: rotateInUpLeft;
}
.h-nav-behavior-replace > .rotateOutUpLeft > .h-nav-page-leave-active{
  animation-name: rotateOutUpLeft;
}

/* .h-nav-behavior-push > .custom-index > .h-nav-page-enter-to,
.h-nav-behavior-back > .custom-index > .h-nav-page-leave-to {
  animation-name: bounceInLeft;
}
.h-nav-behavior-push  > .custom-index > .h-nav-page-leave-to,
.h-nav-behavior-back > .custom-index > .h-nav-page-enter-active{
  animation-name: backOutLeft;
  
} */
