

*{
  box-sizing: border-box;
}
html, body {
  height: 100%;
}
body, h1, h2, ul, li, button, pre{
  padding: 0;
  margin: 0;
}
input {
  line-height: normal;
}
div:focus{
  outline: none;
}
ul {
  list-style: none;
}
form{
  display: block;
}
.root{
  min-height: 100vh;
}
.page{
  min-height: 200vh;
  background-image: linear-gradient(#eee, #999, #eee, #999);
}
a{
  color: #00008B;
  text-decoration: none;
}
$transitionTime: .3s;
.bottom_bar{
  height: 50px;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #ccc;
  border-top: 1px solid #fff;
  display: flex;
}
a.bottom_bar_item{
  width: 50%;
  flex-shrink: 0;
  text-align: center;
  line-height: 49px;
  color: #333;
}
a.bottom_bar_item.router-link-exact-active{
  color: #00008B;
  font-weight: bold;
}
.index_to_list{
  padding-top: 150px;
  text-align: center;
  display: block;
}

.item{
  display: flex;
  align-items: center;
  height: 35px;
  justify-content: space-around;
  padding: 0 10px;
  background-color: #fff;
  border-bottom: 1px solid #ddd;
  line-height: 1;
}
.item_active{
  background-color: #ddd;
}



body{
  font-size: 16px;
}

$diffBg: #eee;
$listScrollBarColor: #ddd;

.index_page{
  background: #fff;
  min-height: 100vh;
}

.index_page h1{
  margin-bottom: 1em;
}

.index_page h1, .index_page h2 {
  text-align: center;
}

.index_page h2{
  color: #999;
}

.index_page h2 b{
  color: #000;
}

.index_diff{
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.index_diff_item{
  margin: 20px;
  height: 100%;
  width: 224px;
  padding-top: 30px;
  height: 430px;
  background: $diffBg;
  position: relative;
}

.index_diff_title{
  position: absolute;
  left: 0;
  top: 0;
  background: #fff;
  line-height: 30px;
  width: 100%;
  text-align: center;
}

.index_diff_item .loader{
  color: #000;
  font-size: 30px;
}

.index_diff_body{
  height: 100%;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.index_diff_page{
  height: 100%;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  overflow: auto;
  transition: all $transitionTime;
}

.index_diff_fade-enter, .index_diff_fade-leave-to {
  opacity: 0;
}

.index_diff_body_h_nav_first_load {
  transform: translateY(-100%);
}


.index_diff_loading_wrap{
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
  position: relative;
}

.index_diff_start_wrap{
  text-align: center;

}
.index_diff_start_top{
  padding-top: 20%;
}
.index_diff_start_use{
  color: #666;
  margin-bottom: .5em;
}
.index_diff_start_bottom{
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: underline;
  position: relative;
}

.index_diff_list_item {
  height: 100px;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #ddd;
  border-radius: 3px;
}

.index_diff_page_wrap{
  padding-top: 30px;
}

.index_diff_page_inner{
  height: 100%;
}

.index_diff_page_titlebar{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  text-align: center;
  height: 30px;
  line-height: 30px;
  border-bottom: 1px solid #ddd;
  color: #333;
}

.index_diff_page_back{
  position: absolute;
  top: 5px;
  left: 0;
  font-size: 12px;
  padding-left: 5px;
  padding-right: 5px;
  line-height: 20px;
  color: #000;
  border-radius: 2px;
}

.index_diff_list{
  padding: 10px;
  overflow: auto;
  pointer-events: none;
  scrollbar-color: $listScrollBarColor transparent;
  scrollbar-width: thin;
}

.index_diff_list::-webkit-scrollbar{
  width: 5px;
  height: 100%;
}

::-webkit-scrollbar-thumb {
  background: $listScrollBarColor;
  border-radius: 2px;
}

.index_diff_loading_more{
  height: 30px;
  font-size: 14px;
  color: #666;
  position: relative;
}




.index_diff_page_detail{
  padding: 1px;
  text-align: center;
  // padding-top: 30%;
  font-size: 50px;
  // font-weight: bold;
  color: #333;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80%;
}

.index_diff_body_h_nav{
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  transition: all $transitionTime;
}

.index_table_wrap{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.index_table{
  border-collapse: collapse;
  border-color: #ccc;
  border: 0;
}

.index_table th{
  background-color: #eee;
}

.index_table th, .index_table td{
  padding: 3px 12px;
}

td.index_table_f{
  padding-right: 45px;
  font-weight: bold;
}

.index_table i{
  color: #999;
}


.index_diff_loading{
  cursor: auto;
}

.index_diff_loading::before {
  padding:0;
  margin:0;
  position: absolute;
  top:0;
  bottom:0;
  right:0;
  left:0;
  margin:auto;
  height: 13px;
  width: 13px;
  animation: rotate 0.8s infinite linear;
  border: 3px solid #999;
  border-right-color: #fff;
  border-radius: 50%;
}

.index_diff_loading::before{
  content: '';
}

@keyframes rotate { 
  0%    { transform: rotate(0deg); }
  100%  { transform: rotate(360deg); }
}

.index_diff_loading_more .index_diff_loading::before{
  width: 9px;
  height: 9px;
  border-width: 2px;
}
.index_diff_start_link{
  text-decoration: underline;
  padding: 3px 10px;
  border-radius: 5px;
  color: #333;
}

.index_diff_list_item_active, 
.index_diff_page_back_active, 
.index_diff_start_active{
  transition: all .15s;
  background-color: #aaa;
  color: #fff;
}
