
body{
  font-size: 16px;
}
.index_page{
  background: #fff;
  min-height: 100vh;
}
.wrap{
  width: 1000px;
  margin: 0 auto;
}
.big_img{
  width: 300px;
  margin: 0 auto;
  display: block;
}
.index_page h1{
  margin-bottom: 1em;
}
.index_page h1, .index_page h2 {
  text-align: center;
}
.index_page h2{
  color: #999;
}
.index_page h2 b{
  color: #000;
}
.index_diff{
  margin-top: 30px;
  display: flex;
  
  
  align-items: center;
  justify-content: center;
}

$diffBg: #eee;
$listScrollBarColor: #ddd;
.index_diff_item{
  margin: 20px;
  height: 100%;
  width: 224px;
  padding-top: 30px;
  height: 430px;
  background: $diffBg;
  position: relative;
}
.index_diff_title{
  position: absolute;
  left: 0;
  top: 0;
  background: #fff;
  line-height: 30px;
  width: 100%;
  text-align: center;
}

.index_diff_item .loader{
  color: #000;
  font-size: 30px;
}
.index_diff_body{
  height: 100%;
  overflow: hidden;
  position: relative;
  width: 100%;
}
.index_diff_page{
  height: 100%;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  overflow: auto;
}
.index_diff_loading_wrap{
  color: #666;
}
.index_diff_loading_wrap, .index_diff_start_wrap{
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;

}
.index_diff_start_wrap{
  background-color: #333;
  color: #fff;
  opacity: 1;
  transition: all .5s;
}


.index_diff_list_item {
  height: 100px;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #ddd;
  border-radius: 3px;
}
.index_diff_page_wrap{
  padding-top: 30px;
}
.index_diff_page_inner{
  height: 100%;
}
.index_diff_page_titlebar{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  text-align: center;
  height: 30px;
  line-height: 30px;
  border-bottom: 1px solid #ddd;
  color: #333;
}
.index_diff_page_back{
  position: absolute;
  top: 5px;
  left: 0;
  font-size: 12px;
  padding-left: 5px;
  padding-right: 5px;
  line-height: 20px;
  color: #000;
  border-radius: 2px;
}

.index_diff_list{
  padding: 10px;
  overflow: auto;
  pointer-events: none;
  scrollbar-color: $listScrollBarColor transparent;
  scrollbar-width: thin;
}
.index_diff_list::-webkit-scrollbar{
  width: 5px;
  height: 100%;
}
::-webkit-scrollbar-thumb {
  background: $listScrollBarColor;
  border-radius: 2px;
}
.index_diff_loading_more{
  height: 30px;
  font-size: 14px;
  color: #666;
}
.index_diff_list_item_active, .index_diff_page_back_active{
  transition: all .15s;
  background-color: #aaa;
  color: #fff;
}
.index_diff_page_detail{
  padding: 1px;
  text-align: center;
  // padding-top: 30%;
  font-size: 50px;
  // font-weight: bold;
  color: #333;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80%;
}

.index_diff_body_multi{
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}

.multi-page-enter-active, 
.multi-page-leave-active,
.multi-page-inner-enter-active,
.multi-page-inner-leave-active{
  transition: all .3s linear;
}
.index_table_wrap{
  display: flex;
  align-items: center;
  justify-content: center;
}
.index_table{
  border-collapse: collapse;
  border-color: #ccc;
  border: 0;
}

.index_table th{
  background-color: #eee;
}
.index_table th, .index_table td{
  padding: 3px 12px;
}
td.index_table_f{
  padding-right: 45px;
  font-weight: bold;
}

.index_table i{
  color: #999;
}