.sidebar-group-items > li > a.sidebar-link{
  font-weight: bold;
  background-color: #eee;
}


// .theme-container:not(.no-sidebar) .sidebar-group-items > li:first-child > a.sidebar-link, 
// .theme-container:not(.no-sidebar) .sidebar-group-items > li:nth-child(2) > a.sidebar-link {
//   background-color: #999;
//   color: #fff;
// }


// h2 > strong{
//   padding-left: 6px;
//   padding-right: 6px;
//   font-size: 1.9rem;
// }
// #api , #install{
//   border-color: rgba(0, 0, 0, 1);
//   border-width: 2px;
// }
// #api{
//  margin-top: 0;
// }
// a.example-preview{
//   font-size: 1.2rem;
// }
