
$transitionTime: .3s;
$tabBarH: 48px;

.h-nav-ctrler{
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
}
.h-nav-page-handle{
  width: 0;
  height: 0;
  position: static;
}
.h-nav-page {
  width: 100%;
  height: 100%;
  overflow:  hidden;
  position: absolute;
  left: 0;
  top: 0;
  background-color: #fff;
  -webkit-overflow-scrolling: touch;
}






// -------- tabbar ctrler --------
.h-nav-tabs-ctrler{
  height: 100%;
  width: 100%;
  position: relative;
}

.h-nav-tabs-container{
  width: 100%;
  height: 100%;
  position: relative;
}

// -------- tabbar ctrler end --------

// .h-nav-behavior-push .h-nav-page, 
// .h-nav-behavior-back .h-nav-page,
// .h-nav-behavior-replace .h-nav-page{
//   transition: all $transitionTime ease;
// }
// .h-nav-behavior-push .h-nav-page, 
// .h-nav-behavior-back .h-nav-page,
// .h-nav-behavior-replace .h-nav-page{
//   transition: all $transitionTime ease-in;
// }
// .h-nav-behavior-push .h-nav-page-leave-active, 
// .h-nav-behavior-back .h-nav-page-leave-active,
// .h-nav-behavior-replace .h-nav-page-leave-active{
//   transition: all $transitionTime ease-out;
// }



// .h-nav-page-container,
// .h-nav-tabbar{
//   transition: inherit;
// }

// .h-nav-page-leave-to{
//   transform: translateX(100%);
// }

// .h-nav-behavior-push > .h-nav-page-enter {
//   transform: translateX(100%);
// }

// .h-nav-behavior-back >.h-nav-page-enter{
//   transform: translateX(-100%);
// }

// .h-nav-behavior-replace > .h-nav-page-enter {
//   transform: translateX(100%);
// }

// .h-nav-behavior-replace > .h-nav-page-leave-to {
//   transform: none;
// }

// .h-nav-behavior-relaunch >.h-nav-page-enter {
//   transform: translateY(-100%);
// }

// .h-nav-behavior-relaunch >.h-nav-page-leave-to {
//   transform: translateY(100%);
// }
.h-nav-page-handle{
  transition-property: all;
  transition-duration: 3s;
  transition-timing-function: linear;
}
.h-nav-page,
.h-nav-page-enter-active, 
.h-nav-page-leave-active,
.h-nav--page-unload > div{
  transition: inherit;
  animation: inherit;
}



.h-nav-behavior-push > div > .h-nav-page-enter,
.h-nav-behavior-back > div > .h-nav-page-leave-to {
  left: 100%;
}

.h-nav-behavior-push > div > .h-nav-page-leave-to,
.h-nav-behavior-back > div > .h-nav-page-enter{
  left: -100%;
}

.h-nav-behavior-back > div > .h-nav-page-enter {
  left: -100%;
}
// when user reload broswer, and click back.
// .h-nav-behavior-back > .h-nav--page-load > .h-nav-page-enter{
//   left: -100%;
// }


.h-nav-behavior-replace > div > .h-nav-page-enter {
  top: 100%;
}




// .h-nav-page-leave-to,
// .h-nav-page-container-enter, 
// .h-nav-page-container-leave-to,
// .h-nav-tabbar-enter,
// .h-nav-tabbar-leave-to
// {
//   opacity: 0;
// } pageIntervalOffsetX: 

// .h-nav-tab-switch-smaller > .h-nav-page-enter {
//   transform: translateX(-100%);
// }

// .h-nav-tab-switch-greater > .h-nav-page-enter {
//   transform: translateX(100%);
// }

// .h-nav-behavior-loaded > .h-nav-page,
// .h-nav-behavior-relaunch > .h-nav-page{
//   transition: none;
// }
// .h-nav-behavior-loaded >.h-nav-page-enter {
//   transform: translateY(-100%);
// }
// .h-nav-tabs-ctrler > .h-nav-page {
//   transition: none;
// }

// -------- transition end --------